:root {
  --green: #268426;
  --yellow: #e2cc68;
  --grey: #a1a1a1;
}

@keyframes flip {
  45%, 55% {
    transform: rotateX(90deg);
  }
}

@keyframes scaleout {
  0% {
    transform: scale(1.1);
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.board {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.header {
  margin: 1rem;
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 2rem;
  border-bottom: 1px solid var(--grey);
  text-align: center;
}

.cell {
  margin: 0.3rem;
  text-align: center;
  padding: 0.4rem;
  width: 60px;
  height: 60px;
  font-size: 3rem;
  font-weight: 700;
  border: 1px solid var(--grey);
  transition: transform 0.5s, color 0.5s;
  border-radius: 5px;
}

.cell.scale {
  animation: scaleout 1s;
}

.cell.grey, .cell.yellow, .cell.green {
  animation: flip 1s;
  color: white;
  border: none;
}

.cell.grey {
  background-color: var(--grey);
}

.cell.yellow {
  background-color: var(--yellow);
}

.cell.green {
  animation-duration: 0.5s;
  background-color: var(--green);
}

.cell:hover {
  transform: scale(1.1);
}

.keyboard {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  gap: 5px;
}

.key {
  padding: 1.3rem;
  background-color: #eeeeee;
  border-radius: 10px;
  cursor: pointer;
}

.key:hover {
  background-color: #e0e0e0;
}

.modal {
  position: absolute;
  background-color: white;
  border-radius: 3%;
  box-shadow: 2px 2px 2px 2px blue;
  width: 500px;
  display: none;
  top: 200px;
  height: 300px;
  border: 3px solid black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal button {
  border: 1px solid var(--grey);
  border-radius: 10%;
  background-color: #1d9bf0;
  color: white;
  padding: 1rem;
  font-size: 1.3rem;
}

.modal p {
  font-size: 3rem;
}

.blur-background {
  filter: blur(5px);
}
