:root {
  --green: #268426;
  --yellow: #e2cc68;
  --grey: #a1a1a1;
  --dark: #242424;
  --lightDark: #333333;
}

@keyframes flip {
  45%,
  55% {
    transform: rotateX(90deg);
  }
}

@keyframes scaleout {
  0% {
    transform: scale(1.1);
  }
}

body {
  background-color: var(--dark);
  color: white;
}

.key {
  background-color: var(--lightDark);
  color: white;
}

#modal {
  background-color: var(--dark);
  color: white;
}

.header {
  padding: 2rem;
  border-bottom: 1px solid var(--grey);
  text-align: center;
}

.board {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.board .cell {
  width: 3rem;
  height: 3.5rem;
  font-size: 3rem;
  font-weight: 700;
  margin: 0.3rem;
  text-align: center;
  padding: 0.4rem;
  border: 1px solid var(--grey);
  transition: transform 0.5s, color 0.5s;
  border-radius: 5px;
}

.keyboard {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  gap: 5px;
}

.key {
  padding: 1.3rem;
  border-radius: 10px;
  cursor: pointer;
}

.key:hover {
  background-color: #e0e0e0;
}

.scale {
  animation: scaleout 1s;
}

.grey,
.yellow,
.green {
  animation: flip 1s;
  color: white;
  border: none;
}

.grey {
  background-color: var(--grey);
}

.yellow {
  background-color: var(--yellow);
}

.green {
  background-color: var(--green);
}

.cell:hover {
  transform: scale(1.1);
}

.blur-background {
  filter: blur(5px);
}

#modal {
  padding: 35px 150px;
  position: absolute;
  margin-left: 30%;
  top : 30%; 
  border: 1px solid red;
  display: none;
}

#modal button {
  background-color: white;
  padding: 20px;
  border-radius: 16%;
}